name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@v27
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes

    - name: Setup Magic Nix Cache
      uses: DeterminateSystems/magic-nix-cache-action@v8

    - name: Build and run preview
      run: nix develop --command make preview

    - name: Upload preview image
      uses: actions/upload-artifact@v4
      with:
        name: preview-image
        path: image.ppm
        if-no-files-found: error
